@import './base.css';

#app {
  max-width: 640px;

  margin: 0 auto;
  font-weight: normal;

  height: 100%;
  width: 100%;

  box-shadow: 6px 0 9px 5px rgba(0, 0, 0, 0.15);
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

button.roundButton {
  border-radius: 20px;
  height: 32px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* @media (min-width: 300px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */

/* Expansion panel */
#regards .v-expansion-panel {
  margin-bottom: 12px;

  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}

.v-expansion-panel-title {
  width: 89%;
  border-radius: 8px;
  height: 56px;
  padding-top: 0;
  padding-bottom: 0;
}

.v-expansion-panel-title__overlay,
.v-expansion-panel-title--active>.v-expansion-panel-title__overlay,
.v-expansion-panel-title--active:hover>.v-expansion-panel-title__overlay {
  opacity: 0 !important;
}

.v-expansion-panel__shadow {
  box-shadow: none;
}

.v-expansion-panel-text {
  background-color: #F8F6F2;
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}

.v-expansion-panel--active>.v-expansion-panel-title {
  min-height: 48px;
}

.v-expansion-panel:not(:first-child)::after {
  border-top-style: hidden;
}